<ion-header>
  <!--ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>-->
</ion-header>

<ion-content>
  
  <ion-grid>
  <ion-row class="ion-justify-content-evenly">
    <ion-col>
      <ion-card  *ngFor="let info of infos" (click) = "GoToClass()">
        <img src=""/>
        <div class="card-title">Class</div>
        <div class="card-subtitle">Directory</div>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card  *ngFor="let info of infos" (click) = "GoToMap()">
        <img src=""/>
        <div class="card-title">3D</div>
        <div class="card-subtitle">Map</div>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card  *ngFor="let info of infos" (click) = "GoToOffice()">
        <img src=""/>
        <div class="card-title">Professors</div>
        <div class="card-subtitle">Offices</div>
      </ion-card>
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>
